@font-face {
   font-family: 'DIN Alternate Bold';
   font-display: swap;
   src: url('file:///Users/nathanhey/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-12-26_234933/fonts/DIN%20Alternate%20Bold/font.ttf');
}
