@font-face {
   font-family: 'Furious Styles - Demo';
   font-display: swap;
   src: url('file:///Users/nathanhey/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-12-26_234933/fonts/Furious%20Styles%20-%20Demo/font.ttf');
}
